<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{ name }}님, </h1>
    <img src="{{ img }}" style="height: 10rem;">
    <br>
    <a href="/articles/dinner">오늘 저녁 뭐먹지??</a>
    <a href="/articles/lotto">로또 번호 추천 받기</a>
    <a href="/articles/yourname">나의 MBTI는?</a>
    <a href="/articles/kipsum">k-lorem ipsum 만들러 가기</a>
</body>

</html>