{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<div class="container p-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-3">My profile</h3>
            <h4 class="card-subtitle my-2">{{ user.username }}</h4>
            <p class="card-text">user no. {{ user.pk }}</p>
            <p class="card-text">joined at {{ user.date_joined|date:'Y-m-d H:i:s' }}</p>
        </div>
    </div>
</div>
{% endblock content %}