{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container m-5">
    <div class="card">
        <h5 class="card-header">{{ article.title }}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                작성일 :
                {% if article.created_at == article.updated_at %}
                {{ article.created_at|date:"SHORT_DATETIME_FORMAT" }}
                {% else %}
                {{ article.updated_at|date:"y-m-d D" }} (수정됨)
                {% endif %}
            </li>
            <li class="list-group-item">글 번호 : {{ article.pk }}</li>
            <li class="list-group-item">작성자 : {{ article.user }}</li>
        </ul>
        <div class="card-body">
            {% if article.image %}
            <img src="{{ article.image.url }}" class="card-img-top my-2" alt="{{ article.image }}">
            {% endif %}
            <p class="card-text">{{ article.content }}</p>
        </div>
        <div class="text-center">
            <p>👍🏻 : {{ like|length }}</p>
        </div>
        <hr class="m-0">
        <div class="card-body d-flex justify-content-end">
            <form action="{% url 'articles:likes' article.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user in article.like_users.all %}
                <input class="btn btn-info mx-2 text-white" type="submit" value="좋아요 취소">
                {% else %}
                <input class="btn btn-info mx-2 text-white" type="submit" value="좋아요">
                {% endif %}
            </form>
            <a class="btn btn-secondary" href="{% url 'articles:index' %}">홈으로</a>
            {% if request.user == article.user %}
            <a class="btn btn-primary" href="{% url 'articles:update' article.pk %}">수정</a>
            <a class="btn btn-danger" href="{% url 'articles:delete' article.pk %}">삭제</a>
            {% endif %}
        </div>
        <div class="card-footer">
            <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                <div class="text-end"><input class="btn btn-success" type="submit"></div>
            </form>
            <hr>
            <h4>댓글 ({{ comments|length }})</h4>
            <hr>
            <ul class="list-group list-group-flush">
                {% for comment in comments %}
                <li class="list-group-item align-middle">
                    <div class="d-flex justify-content-between">
                        <p class="card-text mx-2 py-3 my-0">{{ comment.user }}</p>
                        {% if request.user == comment.user %}
                        <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
                            {% csrf_token %}
                            <input class="text-danger border-0 text-decoration-none" type="submit" value="삭제">
                        </form>
                        {% endif %}
                    </div>
                    <div class="m-2">
                        {{ comment.content }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}